@model NHISWeb.Models.AuthorizationCode.AuthorizationCode
                
<h2>User Data</h2>
<p>User Name: @Model.Id</p>
<p>Email: @Model.EnroleeName</p>
<p>Email: @Model.EnroleeNumber</p>
<p>Email: @Model.EnroleePhoneNumber</p>
<p>Email: @Model.Provider</p>
<p>Email: @Model.Diagnosis</p>
<p>Email: @Model.IssuedBy</p>
<p>Email: @Model.IssuedDate</p>
<p>Email: @Model.Code</p>



