@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

   @model NHISWeb.Dto.RequestDto.UserLogin
@{
    //ViewBag.Title = "Login";
}

    
<fieldset>
    
    <legend>
        User login @*I love d interface of this login page*@
    </legend>
    @using(Html.BeginForm("Login", "Authentication", FormMethod.Post))

    {
      <div class="row">
          <div class="col-6">
              @Html.LabelFor(model => model.Email)
              @Html.TextBoxFor(model => model.Email, null, new{@class = "form-control"})
              @Html.ValidationMessageFor(model => model.Email, null, new{@class = "text text-danger"})
         @* </div><br />
          <div class="col-6">*@
              <br />
              @Html.LabelFor(model => model.Password)
              @Html.PasswordFor(model => model.Password, new{@class = "form-control"})
              @Html.ValidationMessageFor(model => model.Password, null, new{@class = "text text-danger"})
        
          </div>
          </div>

         @* <div class="row">
    <div class="col-md-6">
        <form asp-action="AuthorizationCode">
            <div class="form-group row">
              
            <label asp-for="Email" class="col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            
        </div>

          <div class="form-group row">
             
            <label asp-for="Password" class="col-sm-2"></label>
            <div class="col-sm-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
           
        </div>
       </form>
       </div>*@
       
       <br />
          <div>
                                <input type="submit" class="btn btn-success" value="Login" />
                            
                                <input type="button" class="btn btn-danger" value="Reset Password" />
                          
                 </div>
      @*</div> *@
      <div>
               <a asp-controller = "Home" asp-action="Index">Back to Portal</a>
     </div>
    }

</fieldset>

       <script type="text/javascript">swal("Registration was successful")</script>